/* Footer */

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.footer {
  background-color: #f5f5f5;
  padding: 0px 80px;
  border-top: 1px solid var(--color-airbnb-grey);
}

.footer_mapBtn {
  width: 150px;
  height: 48px;
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  position: absolute;
  left: 45%;
  top: -105%;
}

.footer_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 80px 14px;

  margin: 0 auto;
  max-width: 1760px;
}

.footer_contents_left {
  color: var(--color-font-black);
  font-size: 14px;
}

.footer_contents_left img {
  width: 14px;
  height: 14px;
}

.footer_contents_left span:not(:last-of-type)::after {
  content: "ꞏ";
  display: inline-block;
  width: 1px;
  margin: 0 8px;
}

.footer_contents_right {
  display: flex;
  align-items: center;
  width: 329px;
}

.footer_contents_right button {
  display: flex;
  align-items: center;
  padding: 1px 10px;
  color: var(--color-font-black);
  font-weight: 600;
  font-size: 14px;
  height: 18px;
}

.footer_contents_right button img {
  width: 16px;
  height: 16px;
}

.footer_underline {
  border-bottom: 1px solid var(--color-airbnb-grey);
  width: 1583px;
  margin: 0px auto;
}

.footer_blahblah {
  color: var(--color-airbnbFont-grey);
  font-size: 10px;
  line-height: 12px;
  padding: 8px 80px;
  margin: 0 auto;
  max-width: 1760px;
}
