/* Main */

#article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 20px;
  max-width: 1600px;
  margin: 0px auto;
}

.lodging {
  height: 405px;
}

.lodging_img {
  height: 305px;
  background-image: url(https://a0.muscache.com/im/pictures/373443ec-b377-4181-b753-3a2f3508c2b3.jpg?im_w=720);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

.lodging_img2 {
  background-image: url(https://a0.muscache.com/im/pictures/78fb8268-b999-4389-b072-e2a66910e41b.jpg?im_w=720);
}

.lodging_img3 {
  background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-52159627/original/d727cf6e-4787-4b38-a86f-0cd8d91d02b2.png?im_w=720);
}

.lodging_img4 {
  background-image: url(https://a0.muscache.com/im/pictures/e24c13b9-dd2a-4e15-9845-dd588a884e39.jpg?im_w=720);
}

.lodging_img5 {
  background-image: url(https://a0.muscache.com/im/pictures/9f5e2990-665a-4e8d-a5ad-89881fff8d33.jpg?im_w=720);
}

.lodging_img6 {
  background-image: url(https://a0.muscache.com/im/pictures/16f4c777-2587-4008-b755-86747c59b5e7.jpg?im_w=720);
}

.lodging_img7 {
  background-image: url(https://a0.muscache.com/im/pictures/03eabe44-3c2f-4c4f-893e-d3476ad682ab.jpg?im_w=720);
}

.lodging_img8 {
  background-image: url(https://a0.muscache.com/im/pictures/00ab4e4e-502a-4874-bf65-eb463310ee4f.jpg?im_w=720);
}

.lodging_img_heartBtn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 7%;
  top: 4%;
}

.heartIcon {
  width: 24px;
  height: 24px;
}

.lodging_rightBtn {
  display: none;
  width: 28px;
  height: 28px;
  background-color: var(--color-white);
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light-grey);
  border: 1px solid var(--color-airbnb-grey);
  opacity: 0.9;
  position: absolute;
  right: 4%;
  top: 43%;
}

.lodging_text {
  color: var(--color-airbnbFont-grey);
}

.lodging_text_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.lodging_text_title_star {
  display: flex;
  align-items: flex-end;
}

.lodging_text_title_star svg {
  margin-right: 5px;
}

.lodging_text_title h2 {
  color: var(--color-font-black);
  font-weight: 600;
}

.lodging_text_title span {
  color: var(--color-font-black);
  font-weight: 400;
}

.lodging_text_bottom {
  margin-bottom: 10px;
}

.lodging_text_price {
  color: var(--color-font-black);
  font-weight: 600;
}
