:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-airbnb-grey: #dddddd;
  --color-airbnbFont-grey: #717171;
  --color-black: #000000;
  --color-font-black: #222222;
  --color-brand: #ff385c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radious: 4px;

  /* Annimations */
  --annimation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  cursor: default;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: 700;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

cite {
  font-style: none;
}

.blind {
  display: none;
}

/* Variable */

#variable {
  margin: 48px 119px 0px;
  padding: 0px 80px 0;
}

.reviews {
  padding: 0px 0px 48px;
  border-bottom: 1px solid var(--color-airbnb-grey);
}

.reviews h2 {
  color: var(--color-font-black);
  font-size: 22px;
  font-weight: 600;
}

.reviews_contents {
  display: flex;
}

.reviews_contents img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.reviews_contents_star,
.reviews_contents_reserve {
  display: flex;
  margin-top: 24px;
}

.reviews_contents_star {
  margin-right: 94px;
}

.reviews_contents_reserve {
  margin-left: 94px;
}

.reviews_contents_star p,
.reviews_contents_reserve p {
  line-height: 24px;
  max-width: 322px;
}

.reviews_contents_underline {
  font-weight: 600;
  text-decoration: underline;
}

.hosting {
  padding: 48px 0px;
  border-bottom: 1px solid var(--color-airbnb-grey);
}

.hosting h2 {
  font-size: 22px;
  font-weight: 600;
}

.hosting p {
  margin-top: 24px;
}

.hosting_map {
  position: relative;
  margin-top: 24px;
  width: 1120px;
  height: 480px;
  background-color: #c0f8f8;
}

.hosting_map_publicTransportationc {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 8%;
  padding: 9px 8px;
  border-radius: 10px;
  width: 112px;
  height: 42px;
  background-color: var(--color-white);
  font-weight: 600;
  font-size: 14px;
}

.hosting_map_publicTransportationc input {
  width: 24px;
  height: 24px;
}

.hosting_map_publicTransportationc span {
  margin-left: 8px;
}

.hosting_map_plusMinus {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  right: 2%;
}

.hosting_map_plusMinus button {
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  font-size: 30px;
}

.hosting_map_plusMinus button:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--color-airbnb-grey);
}

.hosting_map_plusMinus button:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hosting_map_people img {
  position: absolute;
  top: 26%;
  right: 2.03%;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

#host_intro {
  padding: 48px 0px;
  border-bottom: 1px solid var(--color-airbnb-grey);
}

.host_intro_header {
  display: flex;
  align-items: center;
}

.host_intro_header img {
  width: 64px;
  height: 64px;
}

.host_intro_header_detail {
  margin-left: 16px;
}

.host_intro_header_detail h2 {
  color: var(--color-font-black);
  font-size: 22px;
  font-weight: 600;
}

.host_intro_header_detail p {
  padding-top: 8px;
  color: var(--color-airbnbFont-grey);
  font-size: 14px;
}

#host_intro_detail {
  display: flex;
  margin-top: 24px;
}

.host_intro_detail {
  max-width: 455px;
}

.host_intro_detail_left {
  display: flex;
}

.host_intro_detail_left div {
  padding: 0px 8px;
}

.host_intro_detail_left img {
  width: 16px;
  height: 15px;
}

.host_intro_detail_left span {
  margin-left: 8px;
}

.host_intro_detail p {
  margin-top: 16px;
}

.host_intro_detail_more {
  font-weight: 600;
  text-decoration: underline;
}

.host_intro_detail_right {
  display: flex;
  flex-direction: column;
  margin-left: 95px;
}

.host_intro_detail_right_call {
  border: 1px solid var(--color-black);
  border-radius: 10px;
  padding: 13px 20px;
  margin-top: 32px;
  width: 191px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}

.host_intro_detail_right span:not(:first-of-type) {
  margin-top: 16px;
}

.host_intro_detail_right_security {
  display: flex;
  margin-top: 24px;
  max-width: 300px;
}

.host_intro_detail_right_security img {
  width: 24px;
  height: 24px;
}

.host_intro_detail_right_security span {
  margin-left: 16px;
  font-size: 12px;
}

#checkList {
  padding: 48px 0px;
}

#checkList h2 {
  font-size: 22px;
  font-weight: 600;
}

.checkList_contents {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.checkList_contents img,
.fa-solid fa-sparkles {
  width: 15px;
  height: 15px;
}

.checkList_contents h4 {
  font-weight: 600;
}

.checkList_contents_health {
  max-width: 330px;
}

.checkList_contents_health_fumigator {
  display: flex;
}

.checkList_contents_health_rule {
  max-width: 300px;
  display: block;
  margin-left: 6px;
}

.checkList_contents_rule div,
.checkList_contents_health div,
.checkList_contents_refund div {
  margin-top: 12px;
}

.checkList_contents_rule img,
.checkList_contents_health img,
.checkList_contents_refund img {
  margin-right: 12px;
}

.checkList_contents_more {
  display: block;
  margin-top: 24px;
  font-weight: 600;
  text-decoration: underline;
}
